<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Search real estate:</h2>
<form method="post" th:action="@{/search/real_estate}" th:object="${realEstate}">

  <label for="city">City</label>
  <input type="text" th:field="*{city}" id="city"/>

  <label for="street">Street</label>
  <input type="text" th:field="*{street}" id="street"/>

  <label for="house">House</label>
  <input type="text" th:field="*{house}" id="house"/>

  <label for="apartmentNumber">Apartment Number</label>
  <input type="text" th:field="*{apartmentNumber}" id="apartmentNumber"/>

  <input type="submit" value="Find"/>
</form>

<div th:if="${objectsList}">
  <div th:if="${objectsList.isEmpty()}">
    <p style="color: brown">Objects not found</p>
  </div>

  <div th:if="${!objectsList.isEmpty()}">
    <p>Objects found for this query:</p>
    <div th:each="object : ${objectsList}">
      <p th:text="${object.getTypeOfRealEstate()} + ' ' + ${object.getStreet()}"></p>
    </div>
  </div>
</div>
</body>
</html>