<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Full Name: ' + ${client.getLastname()} + ' ' + ${client.getFirstname()} + ' ' + ${client.getFirstname()} + ' ' + ${client.getPatronymic()}">
    FullName</p>
<p th:text="'Phone: ' +  ${client.getPhone()}">Phone</p>
<p th:text="'Email: ' +  ${client.getEmail()}">Email</p>

<div th:if="${!client.getOffer()}">
    <p>Client has no one offer</p>
</div>
<div th:if="${client.getOffer()}">
    <p th:text="${client.getOffer().toString()}">Offer</p>
</div>

<div th:if="${!client.getDemand()}">
    <p>Client has no one demand</p>
</div>
<div th:if="${client.getDemand()}">
    <p th:text="${client.getDemand().toString()}">Offer</p>
</div>

</body>
</html>