<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="client : ${clients}">
    <a th:href="@{/client/{id}(id = ${client.getId()})}" th:text="${client.getId()}"></a>
    <p th:text="${client.getFirstname()} + ' ' + ${client.getLastname()} + ' '
    + ${client.getPatronymic()} +  ' ' + ${client.getPhone()} + ' ' + ${client.getEmail()}"></p>
</div>

<a href="/client/new" >add new client</a>
</body>
</html>