<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="post" th:action="@{/offer}" th:object="${offer}">

  <label for="client">Choose client</label>
  <select id="client" th:field="*{client}">
    <option th:each="temp_client : ${clientList}"
            th:value="${temp_client.getId()}"
            th:text="${temp_client.getLastname()} + ' ' + ${temp_client.getFirstname()} + ' ' + ${temp_client.getEmail()}">type
    </option>
  </select>

  <br/>

  <label for="realtor">Choose realtor</label>
  <select id="realtor" th:field="*{realtor}">
    <option th:each="temp_realtor : ${realtorList}"
            th:value="${temp_realtor.getId()}"
            th:text="${temp_realtor.getLastname()} + ' ' + ${temp_realtor.getFirstname()}">type
    </option>
  </select>

  <br/>

  <label for="realEstate">Choose realEstateList</label>
  <select id="realEstate" th:field="*{realEstate}">
    <option th:each="temp_realEstate : ${realEstateList}"
            th:value="${temp_realEstate.getId()}"
            th:text="${temp_realEstate.getTypeOfRealEstate().toString()} + ' ' + ${temp_realEstate.getAddress().getStreet()} + ', ' + ${temp_realEstate.getAddress().getHouse()}">type
    </option>
  </select>

  <br/>

  <label for="price">Price</label>
  <input type="text" th:field="*{price}" id="price"/>

  <input type="submit" value="Save"/>
</form>
<a href="/main">Back to menu</a>
</body>
</html>