<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Esoft Demo</h1>
<a href="/client/main">All clients</a>
<br/>
<a href="/realtor/main">All realtors</a>
<br/>
<a href="/real_estate">All real estate</a>
<br/>
<a href="/offer/main">All offers</a>
<br/>
<a href="/demand"> All demands</a>
<br/>
<a href="/deal">All deals</a>
<br/>
<a href="/search">Search clients/realtors</a>
<br/>
<a href="/search/real_estate">Search real estate</a>
</body>
</html>