<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new realtor</title>
</head>
<body>

<form th:method="POST" th:action="@{/realtor}" th:object="${realtor}">

    <label for="lastname">Lastname</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>

    <br/>

    <label for="firstname">Firstname</label>
    <input type="text" th:field="*{firstname}" id="firstname"/>

    <br/>

    <label for="patronymic">Patronymic</label>
    <input type="text" th:field="*{patronymic}" id="patronymic"/>

    <br/>

    <label for="shareOfCommission">Share Of Commission</label>
    <input type="text" th:field="*{shareOfCommission}" id="shareOfCommission"/>

    <br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>