<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new realtor</title>
</head>
<body>

<form th:method="POST" th:action="@{/realtor}" th:object="${realtor}">

    <label for="lastname">Lastname</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color:gray" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">error lastname</div>

    <br/>

    <label for="firstname">Firstname</label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color:gray" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">error firstname</div>

    <br/>

    <label for="patronymic">Patronymic</label>
    <input type="text" th:field="*{patronymic}" id="patronymic"/>
    <div style="color:gray" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">error patronymic</div>

    <br/>

    <label for="shareOfCommission">Share Of Commission</label>
    <input type="text" th:field="*{shareOfCommission}" id="shareOfCommission"/>
    <div style="color:gray" th:if="${#fields.hasErrors('shareOfCommission')}" th:errors="*{shareOfCommission}">error shareOfCommission</div>

    <br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>