<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/real_estate}" >

    <label for="typeOfRealEstate">Choose object</label>
    <select id="typeOfRealEstate" th:field="${realEstate.typeOfRealEstate}">
        <option th:each="temp_type : ${T(whoscared.esoftdemo.esoft.demo.models.immovables.TypeOfRealEstate).values()}"
                th:value="${temp_type}"
                th:text="${temp_type.toString()}">type
        </option>
    </select>

    <label for="city">City</label>
    <input type="text" th:field="${address.city}" id="city"/>

    <br/>

    <label for="street">Street</label>
    <input type="text" th:field="${address.street}" id="street"/>

    <br/>

    <label for="house">House</label>
    <input type="text" th:field="${address.house}" id="house"/>

    <br/>

    <label for="apartmentNumber">Apartment Number</label>
    <input type="text" th:field="${address.apartmentNumber}" id="apartmentNumber"/>

    <br/>

    <label for="latitude">Latitude</label>
    <input type="text" th:field="${address.latitude}" id="latitude"/>
    <div style="color:gray" th:if="${#fields.hasErrors('address.latitude')}" th:errors="*{address.latitude}">error latitude</div>

    <br/>

    <label for="longitude">Longitude</label>
    <input type="text" th:field="${address.longitude}" id="longitude"/>
    <div style="color:gray" th:if="${#fields.hasErrors('address.longitude')}" th:errors="*{address.longitude}">error longitude</div>


    <br/>

    <label for="floors">Floor</label>
    <input type="text" th:field="${realEstate.floor}" id="floors"/>
    <div style="color:gray" th:if="${#fields.hasErrors('realEstate.floor')}" th:errors="*{realEstate.floor}">error floor</div>

    <br/>

    <label for="rooms">Rooms</label>
    <input type="text" th:field="${realEstate.rooms}" id="rooms"/>
    <div style="color:gray" th:if="${#fields.hasErrors('realEstate.rooms')}" th:errors="*{realEstate.rooms}">error room</div>

    <br/>

    <label for="area">Area</label>
    <input type="text" th:field="${realEstate.area}" id="area"/>
    <div style="color:gray" th:if="${#fields.hasErrors('realEstate.area')}" th:errors="*{realEstate.area}">error area</div>

    <br/>

    <input type="submit" value="Save"/>
</form>
<a href="/main">Back to menu</a>
</body>
</html>